In [1]:
import numpy as np

In [38]:
import gzip, cPickle
from glob import glob
import numpy as np
import pandas as pd
import random

class_to_int = {"FAP":1,"NP":2,"AP":3,"CDL":4}

In [79]:
def dir_to_dataset(glob_files):
    print("Gonna process:\n\t %s"%glob_files)
    dataset = []
    labels = []
#    reader_data = pd.read_csv(glob_files, sep=",", header = None)
    reader_data = pd.read_csv(glob_files, sep=",")
    data_old = pd.DataFrame(reader_data)
    data = np.array(data_old)
    np.random.shuffle(data)
    #data = np.array(data)
    for row in data:
    	dataset.append(row[10:27262]) # all the data (both microbiome and expression)
    	labels.append(row[4])#this is the sub disease class
   
    return np.array(dataset), np.array(labels)

def dir_to_dataset_with_param(glob_files,view):
    print("Gonna process:\n\t %s"%glob_files)
    dataset = []
    labels = []
#    reader_data = pd.read_csv(glob_files, sep=",", header = None)
    reader_data = pd.read_csv(glob_files, sep=",")
    data_old = pd.DataFrame(reader_data)
    data = np.array(data_old)
    np.random.shuffle(data)
    #data = np.array(data)
    for row in data:
    	if(view==1):
            dataset.append(row[8:5451]) #  microbiome data 5444
#             dataset.append(row[9:400]) #  microbiome data 5444
            labels.append(class_to_int[row[4]])#this is the sub disease class
        elif(view==2):
            dataset.append(row[5452:25703]) #  expression data 20252
#             dataset.append(row[5453:5853]) #  expression data 20253
            labels.append(class_to_int[row[4]])#this is the sub disease class
   
    return np.array(dataset), np.array(labels)

def create_pkl_file():
	Data, y = dir_to_dataset("total_data.csv")
	# Data and labels are read 

 	train_set_x = Data[:75]
 	val_set_x = Data[76:150]
 	test_set_x = Data[151:184]
 	train_set_y = y[:75]
	val_set_y = y[76:150]
	test_set_y = y[151:184]
# 	# Divided dataset into 3 parts. I had 6281 images.

	train_set = train_set_x, train_set_y
	val_set = val_set_x, val_set_y
	test_set = test_set_x, val_set_y

	dataset = [train_set, val_set, test_set]

	f = gzip.open('file.pkl.gz','wb')
	cPickle.dump(dataset, f, protocol=2)
	f.close()

def create_pkl_file_with_param(file_name,view):
	Data, y = dir_to_dataset_with_param("cleaned_data.csv",view)
	# Data and labels are read 

 	train_set_x = Data[:75]
 	val_set_x = Data[76:150]
 	test_set_x = Data[151:184]
 	train_set_y = y[:75]
	val_set_y = y[76:150]
	test_set_y = y[151:184]
# 	# Divided dataset into 3 parts. I had 6281 images.

	train_set = train_set_x, train_set_y
	val_set = val_set_x, val_set_y
	test_set = test_set_x, val_set_y

	dataset = [train_set, val_set, test_set]

	f = gzip.open(file_name,'wb')
	cPickle.dump(dataset, f, protocol=2)
	f.close()

In [80]:
#create_pkl_file()
create_pkl_file_with_param("microbe_data.pkl.gz",1)
create_pkl_file_with_param("expression_data.pkl.gz",2)

Gonna process:
	 cleaned_data.csv
Gonna process:
	 cleaned_data.csv

In [58]:
without_nas.shape

(0, 0)

In [71]:
dataset = './expression_data.pkl.gz'
import gzip
import cPickle
fid = gzip.open(dataset, 'rb')
train_set, valid_set, test_set = cPickle.load(fid)
# datasets = load_data(dataset, shared=True)

In [72]:
train_set[0]

array([[0, 0, 0, ..., 9.306610000000001, 6.648474, 7.462737],
       [0, 0, 0, ..., 8.69908, 6.882074, 7.699936],
       [0, 0, 2, ..., 8.967866, 6.616673, 7.481475],
       ...,
       [0, 0, 0, ..., 9.206328, 6.760317999999999, 7.724550999999999],
       [0, 0, 0, ..., 9.099128, 6.796834, 7.6634910000000005],
       [0, 0, 0, ..., 8.777583, 6.6992259999999995, 7.3107690000000005]], dtype=object)

In [75]:
reader_data = pd.read_csv("total_data.csv", sep=",")
data_old = pd.DataFrame(reader_data)
data = np.array(data_old)
np.random.shuffle(data)

In [76]:
data_old.head(3)

,Unnamed: 0,Transcriptome,X16S_ID,Patient_ID,Classification,Antibiotics,ISCORE,Pouch_PPI,Subject,OTU0,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,1,GSM1591236,N00474,pouchitis2015.203,NP,no,0,Pouch,pouchitis2015.203,188,...,7.425943,8.050122,8.901439,8.153149,7.167783,5.121408,8.513430,9.506019,10.30450,8.754926
1,2,GSM1591237,N00415,pouchitis2015.204,CDL,no,5,Pouch,pouchitis2015.204,1,...,7.587704,8.430776,9.134160,8.319775,7.261207,5.171984,8.327061,9.316339,10.21266,8.607831
2,3,GSM1591238,N00108,pouchitis2015.1,AP,no,3,PPI,pouchitis2015.1,138,...,7.754372,8.574277,8.624271,8.076755,7.158592,4.799784,8.430059,9.429245,10.24968,8.749359

In [8]:
data_old.shape

(184, 27262)

In [25]:
data_old.iloc[1:2,7009:7015]

   OTU7005     A1BG      A1CF     A2LD1       A2M    A2ML1    A4GALT
1        0  7.418533  10.82718  7.587727  11.16592  5.51985   7.26689